.container {
  border: 2px solid #2c2c2c;
  width: 200px;
  min-height: 80px;
  padding: 4px;
  border-radius: 4px;
  background-color: #fff;
}

.heading {
  font-size: 16px;
  margin-bottom: 6px;
  font-weight: bold;
  text-decoration: underline;
}

.container .source-handle {
  height: 20px;
  width: 6px;
  background-color: #9e9e9e;
  border-radius: 2px;
  right: -8px;
}

.container .target-handle {
  height: 20px;
  width: 6px;
  background-color: #9e9e9e;
  border-radius: 2px;
  left: -8px;
}

.info {
  font-size: 14px;
}
