.app {
  height: 100vh;
  display: flex;
}

.canvas-container {
  width: 72%;
  height: 100%;
}

.nodes-and-submit-button {
  width: 28%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

hr {
  margin: 12px 0;
}
