.container {
  padding: 6px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container button {
  padding: 6px 8px;
  cursor: pointer;
}

.nodes-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
}
